#footer {
    overflow: hidden;
    background-color:#74462b;
    margin: 0;
    padding: 0;
    max-height: 150px;
    max-width: 100%;
    height: 100%;
    width: 100%;
    float: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.hover-rs:hover{
    color:#cf9b7d!important;
    background-color: none!important;
}

a:link, a:visited, a:active {
    text-decoration:none;
}