<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" id="bootstrap-css">
<link href="../../css/main.css" rel="stylesheet">
<link href="../../css/font.css" rel="stylesheet">
<link href="../../css/solid.css" rel="stylesheet">
<link href="../../css/brands.css" rel="stylesheet">
<link href="../../css/signin.css" rel="stylesheet">

<div id="signin" class="d-flex flex-column justify-content-center card round border-br bg-brown col-sm-4">
  <div class="d-flex flex-column justify-content-center">
    <img src="../../img/logo_t_b.svg" width="450hv" alt="">
  </div>
    <form class="needs-validation" novalidate action="#" method="POST" target="_blank">
        <div class="d-grid gap-2 col-3 mx-auto">
            <h3>Registro</h3>
        </div>
        <label for="name">Nombre</label>
        <input class="form-control border-br mb-3" type="text" name="name" id="name" placeholder="Ingrese su nombre" size="30" required>
        <label for="name">Apellido</label>
        <input class="form-control border-br mb-3" type="text" name="name" id="name" placeholder="Ingrese su apellido" size="30" required>
        <label for="email">Correo electronico</label><br />
        <input class="form-control border-br mb-3" type="email" name="email" id="email" placeholder="email@email.com" size="30" required>
        <label for="ciudad">Ciudad</label>
        <select class="form-select hover-none border-br mb-3" aria-label="Default select example">
          <option selected>Seleccione su ciudad</option>
          <option value="1">Bogotá</option>
          <option value="2">Medellín</option>
          <option value="3">Cali</option>
        </select>
        <select class="form-select hover-none border-br mb-3" aria-label="Default select example">
          <option selected>Seleccione su localidad</option>
          <option value="1">Kenedy</option>
          <option value="2">Suba</option>
          <option value="3">Teusaquillo</option>
        </select>
        <label for="foto">Imágen o foto de perfil</label>
        <input class="form-control border-br mb-3" type="file" id="foto" name="foto">
        <fieldset class="form-group row">
            <legend class="col-form-label col-sm-2 float-sm-left pt-0">Género</legend>
            <div class="col-sm-12 mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="masculino" name="masculino" value="Masculino">
                    <label class="form-check-label" for="masculino">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="femenino" name="femenino" value="Femenino">
                    <label class="form-check-label" for="femenino">Femenino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="noespecifico" name="noespecifico" value="No específico" checked>
                    <label class="form-check-label" for="noespecifico">No específico</label>
                </div>
            </div>
        </fieldset>
        <label for="phone">Teléfono</label>
        <input class="form-control border-br mb-3" type="tel" name="phone" id="phone" placeholder="555-555-5555" size="30" maxlength="10" required>
        <label for="password">Contraseña</label>
        <input class="form-control border-br mb-3" type="password" name="password" id="password" placeholder="Ingrese contraseña" size="30" required>
        <label for="password">Confirmar Contraseña</label>
        <input class="form-control border-br mb-3" type="password" name="password" id="password" placeholder="Ingrese contraseña nuevamente" size="30" required>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="btn btn-primary btn-lg w-100 hover-brown" type="submit" value="Crear Usuario">
            <input class="btn btn-primary btn-lg w-100 hover-brown" type="reset" value="Reestablecer">
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
<script src="../../js/validation.js"></script>