#mygroup {
    overflow: hidden;
    background-color: none;
    margin: 0;
    padding: 0;
    max-height: 460px;
    max-width: 860px;
    min-height: 1060px;
    min-width: 860px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

#mypost {
    max-height: 510px;
    max-width: 370px;
    min-height: 410px;
    min-width: 350px;
    height: 100%;
    width: 100%;
    background-color: #F6F3EC;
}

.border-green {
    border-color:#8ABB2B;
    border-radius: 15px;
}

.border-g {
    border-bottom: 1px solid #8ABB2B!important;
}

.border-b {
    border-bottom: 1px solid var(--primary)!important;
}

.dashed {
    border-style: dashed !important;
    border-width: 2px;
    border-radius: 15px;
}

.bg-brown {
    background-color:#C07E4E;
}

.hover-brown:hover{
    color:#fff!important;
    background-color:#74462b!important;
}

.img-container-card-v {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
}

.img-container-card-v img {
    width:100%;
    height:auto;
    /* vertical-align: auto; */
}

.img-container-card-h {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
}

.img-container-card-h img {
    width:auto;
    height:100%;
    /* margin-left: -50px; */
    /* vertical-align: auto; */
}