#title {
    max-width: 70vh;
    max-height: 7vh;
    min-height: 7vh;
    min-width: 50vh;
    width: 100%;
    width: 100%;
    margin: 15px;
    background-color: none;
    border-radius: 32px;
    background-color: var(--primary-dark);
    color: white;
}

#title_in {
    width: 98%;
    margin: 4px;
    border-style: dashed;
    border-width: 2px;
    border-color: white;
    background-color: none;
    color: white;
    border-radius: 30px;

}

#title_2 {
    max-width: 50vh;
    min-height: 7vh;
    width: 100%;
    width: 100%;
    margin: 15px;
    background-color: none;
    border-radius: 32px;
    background-color: #8ABB2B;
    color: white;
}