<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../css/main.css" rel="stylesheet">
<link href="../css/font.css" rel="stylesheet">
<link href="../css/solid.css" rel="stylesheet">
<link href="../css/brands.css" rel="stylesheet">
<link href="../css/profile.css" rel="stylesheet">

<div id="edit-profile" class="d-flex card round huella_edit">
    <div class="d-flex flex-column justify-content-center text-center">
        <h4>Usuaria</h4>
        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex flex-column justify-content-center img-container-profile-v mb-3">
                <img src="../img/ej.jpg" alt="">
            </div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label">Foto de perfil</label>
                <input class="form-control form-control-sm border-br" id="formFileSm" type="file">
            </div>
        </div>
        <div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text bg-brown border-br col-5" id="inputGroup-sizing-sm">Nombre</span>
                <input type="text" class="form-control border-br" value="NOMBRE APELLIDO" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <select class="form-select form-select-sm border-br mb-3" aria-label=".form-select-sm example">
                <option selected>Ciudad</option>
                <option value="1" selected>Bogotá</option>
                <option value="2">Medellín</option>
                <option value="3">Cali</option>
            </select>
            <select class="form-select form-select-sm border-br mb-3" aria-label=".form-select-sm example">
                <option selected>Localidad</option>
                <option value="1" selected>Kenedy</option>
                <option value="2">Suba</option>
                <option value="3">Teusaquillo</option>
            </select>
            <fieldset class="form-group row">
                <legend class="col-form-label float-sm-left ">Género</legend>
                <div class="col-sm-12 mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="masculino" name="masculino" value="Masculino">
                        <label class="form-check-label" for="masculino">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="femenino" name="femenino" value="Femenino" checked>
                        <label class="form-check-label" for="femenino">Femenino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="noespecifico" name="noespecifico" value="No específico">
                        <label class="form-check-label" for="noespecifico">No específico</label>
                    </div>
                </div>
            </fieldset>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text bg-brown border-br col-5" id="inputGroup-sizing-sm">Teléfono</span>
                <input type="tel" class="form-control border-br" value="5555555555" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" maxlength="10">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text bg-brown border-br col-5" id="inputGroup-sizing-sm">Correo</span>
                <input type="email" class="form-control border-br" value="email@email.com" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text bg-brown border-br col-5" id="inputGroup-sizing-sm">Contraseña actual</span>
                <input type="password" class="form-control border-br" value="123456789" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text bg-brown border-br col-5" id="inputGroup-sizing-sm">Contraseña nueva</span>
                <input type="password" class="form-control border-br" value="" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text bg-brown border-br" id="inputGroup-sizing-sm">Confirmar contraseña</span>
                <input type="password" class="form-control border-br" value="" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="btn bg-brown rounded hover-green col-12">
                <button type="button" class="btn text-white">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>