<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" id="bootstrap-css">
<link rel="stylesheet" href="../css/style.css">
<div class="card round border dashed p-1">
    <table class="center container">
        <tr>
            <th class="big p-1">NOMBRE A.</th>
        </tr>
        <tr>
            <th class="p-2"><img src="../img/tem.svg" alt=""></th>
        </tr>
        <tr>
            <td class="p-1">Usuaria</td>
        </tr>
        <tr>
            <td class="p-1">Kenedy, Bogotá</td>
        </tr>
        <tr>
            <td class="p-1">555-555-5555</td>
        </tr>  
        <tr>
            <td class="p-1">email@email.com</td>
        </tr>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>