<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" id="bootstrap-css">
<link rel="stylesheet" href="../css/style.css">
<div class="card round huella p-1" style="width: 400px; height: 520px;">
    <div class="center text-center">
        <h2 class="p-1">NOMBRE A.</h2>
        <div class="img-container-profile-v m-2">
            <img src="../img/ej.jpg" class="" alt="">
        </div>
        <div>
            <p class="p-1">Usuaria</p>
        </div>
        <div>
            <p class="p-1">Kenedy, Bogotá</p>
        </div>
        <div>
            <p class="p-1">555-555-5555</p>
        </div>  
        <div>
            <p class="p-1">email@email.com</p>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>