<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<main>
		<section>
			<div class="container">
				<div class="row">
					<div class="container center content round col-sm-4">
						<h1>Hola Huellitas Colombia</h1>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>