<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<main>
		<section th:replace="layout/banner :: banner"></section>
		<section th:replace="layout/layout :: alerts"></section>
		<section>
			<div class="container center content round col-sm-4 mt-5 pt-5">
				<div class="d-flex justify-content-center align-items-center">
					<div class="login-body border-0 col-6">
						<form th:action="@{/login}" method="post" >
							<div class="form-floating col-auto mb-3">
								<input class="form-control" type="email" name="username"
									id="username" placeholder="pet@mail.com" maxlength="100"
									autofocus required>
								<label class="text-start d-block" for="username">Correo Electronico</label>
							</div>
							<div class="form-floating col-auto mb-3">
								<input class="form-control" type="password" name="password"
									id="password" placeholder="Contraseña" maxlength="80" required>
								<label class="text-start d-block" for="password">Contraseña</label>
							</div>
		
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<input class="btn btn-lg btn-primary me-md-2 btn-block text-uppercase w-100"
									type="submit" value="Ingresar">
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>