<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<main>
		<section th:replace="layout/banner :: banner"></section>
		<section th:replace="layout/layout :: alerts"></section>
		<section>
			<div class="container">
				<div class="row">
					<div class="container center content round col-sm-4">
						<div class="card mb-3">
							<div class="row g-0">
								<div class="col-md-4">
									<div class="position-relative">
										<img th:src="@{'/uploads/'+${post.pet.photo}}" class="card-img rounded-0" alt="...">
										<span th:if="${post.pet.petStatus.id == 1}" class="tag-red tag position-absolute" th:text="${post.pet.petStatus.name}">Encontrado</span>
										<span th:if="${post.pet.petStatus.id == 2}" class="tag-green tag position-absolute" th:text="${post.pet.petStatus.name}">Encontrado</span>
									</div>
									<div class="card-header bg-primary-color-light">
										<small class="text-white d-flex justify-content-between">
											<span class="date">Fecha <span
												th:text="${post.createIn}"></span>
										</span> <span class="user"> <img srcset="/img/h_c_s.svg"
												alt="huellita" class="img-responsive img-pre-icon" /> <strong
												th:text="${post.user.name}"></strong> 
												lo a <span th:text="${post.pet.petStatus.name}"></span>
										</span>
										</small>
									</div>
								</div>
								<div class="col-md-8">
									<div class="d-flex flex-column rh">
										<div class="card-header bg-primary-color">
											<h3
												class="title-main text-left text-white text-primary text-uppercase fs-5 fw-bold text-center">
												<img srcset="/img/h_c_s.svg" alt="huellita"
													class="img-responsive img-pre" /> <span
													th:text="${post.pet.name}"></span>
											</h3>
										</div>
										<div class="card-body text-start">
											<span class="d-block card-title title-main text-left text-black fs-6">
												<strong>Edad Aproximada: </strong><span class="text-uppercase" th:text="${post.pet.years}"></span> Anos
											</span>
											
											<span class="d-flex card-title title-main text-left text-black fs-6 justify-content-start align-items-center">
												<strong>Color: </strong><span class="mx-3 text-uppercase color-pet d-inline-block" th:style="'background-color:'+${post.pet.color}+';'"></span>
											</span>
											
											<span class="d-block card-title title-main text-left text-black fs-6">
												<strong>Raza: </strong><span class="text-uppercase" th:text="${post.pet.petBreed.name}"></span>
											</span>
											<span class="d-block card-title title-main text-left text-black fs-6">
												<strong>Tamano: </strong><span class="text-uppercase" th:text="${post.pet.petSize.name}"></span>
											</span>
											<span class="d-block card-title title-main text-left text-black fs-6">
												<strong>Tipo: </strong><span class="text-uppercase" th:text="${post.pet.petType.name}"></span>
											</span>
											<span class="card-subtitle mb-3 mt-3 d-block"><strong>Localización:</strong>
												<span th:text="${post.direction}"></span></span>
											<p class="card-text"
												th:text="${post.pet.description}"></p>
										</div>
										<div th:if="${edit == '1'}" class="card-footer p-0">
											<a class="btn btn-primary w-100 text-uppercase p-3 fs-4 rounded-0 rounded-end" 
											th:href="@{/post/edit/}+${post.pet.id}">Editar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>