<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>

<div id="filtro" class="container border border-brown no-marging col-2">
    <br /><h5 class="brown">Filtrar por:</h5><br />
    <select class="form-select border-0">
        <option selected>Ciudad</option>
        <option value="1">Bogotá</option>
        <option value="2">Bucaramanga</option>
        <option value="3">Cali</option>
        <option value="4">Medellín</option>
    </select>
    <select class="form-select border-0" aria-label="Default select example">
        <option class="hover-brown" selected>Tipo</option>
        <option value="1">Conejo</option>
        <option value="2">Perro</option>
        <option value="3">Gato</option>
    </select>
    <select class="form-select border-0 hover-brown" aria-label="Default select example">
        <option selected>Tamaño</option>
        <option value="1">Grande</option>
        <option value="2">Mediano</option>
        <option value="3">Pequeño</option>
        <option value="4">Mini</option>
    </select>
    <select class="form-select border-0 hover-brown" aria-label="Default select example">
        <option selected>Edad</option>
        <option value="1">0 - 1</option>
        <option value="2">1 - 2</option>
        <option value="3">2 - 4</option>
        <option value="4">4 - 6</option>
        <option value="5">6+</option>
    </select>
    <select class="form-select border-0 hover-brown" aria-label="Default select example">
        <option selected>Raza</option>
        <option value="1">Seteter Irlandés</option>
        <option value="2">Labrel Escocés</option>
        <option value="3">Pastor Ruso</option>
        <option value="4">Lakeland Terrier</option>
        <option value="5">Teckel</option>
        <option value="6">Poodle</option>
        <option value="7">Poodle Toy</option>
        <option value="8">Mastín Inglés</option>
        <option value="9">Labrador Retriever</option>
        <option value="10">Akita Japonés</option>
        <option value="11">Pastor de Brie</option>
        <option value="12">Mastín Español</option>
        <option value="13">Perro de Groenlandia</option>
        <option value="14">Landseer</option>
        <option value="15">Border Collie</option>
        <option value="16">Akita Americano</option>
        <option value="17">Shih Tzu</option>
        <option value="18">Bichón Maltés</option>
        <option value="19">Pit Bull Terrier Americano</option>
        <option value="20">Spaniel Bretón</option>
    </select><br />
</div>