<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet">
<link href="../css/font.css" rel="stylesheet">
<link href="../css/solid.css" rel="stylesheet">
<link href="../css/brands.css" rel="stylesheet">
<link rel="stylesheet" href="../css/nav.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
      
<!-- <nav class="navbar navbar-expand-sm navbar-brown d-flex bd-highlight"> -->
    <!-- Brand/logo -->
    <!-- <a class="navbar-brand no-marging" href="#">
        <img src="../img/logo_huella_w.svg" alt="" width="40" class="d-inline-block align-text-top p-2">
    </a> -->
    <!-- Links -->
    <!-- <ul class="navbar-nav me-auto bd-highlight">
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../index.html" target="_blank">INICIO</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/buscados.html" target="_blank">BUSCADOS</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/encontrados.html" target="_blank">ENCONTRADOS</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/adoptame.html" target="_blank">ADOPTAME</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/jornadas.html" target="_blank">JORNADAS</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/nosotros.html" target="_blank">NOSOTROS</a>
        </li>
    </ul>

    <ul class="bd-highlight">
        <div class="nav-item dropdown">
            <a class="border-0 text-white hover-none dropdown-toggle disabled" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="perfil.html" target="_blank">NOMBRE A.</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </ul>

    <div class="img-container-nav m-1">
        <a class="navbar-brand no-marging" href="#"></a>
            <img src="../img/ej.jpg" alt="">
        </a>
    </div>
</nav> -->


<nav class="d-flex navbar navbar-expand-lg navbar-dark bg-brown rounded-bottom shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../img/logo_huella_w.svg" alt="" width="30" class="d-inline-block "></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html" target="_blank">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/buscados.html" target="_blank">BUSCADOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/encontrados.html" target="_blank">ENCONTRADOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/adoptame.html" target="_blank">ADOPTAME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/jornadas.html" target="_blank">JORNADAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/nosotros.html" target="_blank">NOSOTROS</a>
                    </li>
                </ul>
            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column justify-content-center img-container-nav m-1">
                    <a class="navbar-brand no-marging" href="#" target="_blank"></a>
                        <img src="../img/ej.jpg" alt="">
                    </a>
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            NOMBRE A.
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="../pages/editarPerfil.html" target="_blank">Mis datos</a></li>
                        <li><a class="dropdown-item" href="../pages/editarEntrada.html" target="_blank">Mis entradas</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="../index.html" target="_blank">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>