<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
      
<nav class="navbar navbar-expand-sm navbar-brown d-flex bd-highlight">
    <!-- Brand/logo -->
    <a class="navbar-brandv no-marging p-3" href="#">
        <img src="../img/logo_huella_w.svg" alt="" width="40" class="d-inline-block align-text-top p-2">
    </a>
    <!-- Links -->
    <ul class="navbar-nav me-auto bd-highlight">
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../index.html" target="_blank">INICIO</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/buscados.html" target="_blank">BUSCADOS</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/encontrados.html" target="_blank">ENCONTRADOS</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/adoptame.html" target="_blank">ADOPTAME</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/jornadas.html" target="_blank">JORNADAS</a>
        </li>
        <li class="nav-item hover-green p-2">
            <a class="nav-link text-white hover-none" href="../pages/nosotros.html" target="_blank">NOSOTROS</a>
        </li>
    </ul>

    <ul class="bd-highlight">
        <div class="nav-item dropdown">
            <a class="border-0 text-white hover-none dropdown-toggle disabled" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="perfil.html" target="_blank">NOMBRE A.</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </ul>

    <div class="img-container-nav m-1">
        <a class="navbar-brandv no-marging" href="#"></a>
            <img src="../img/ej.jpg" alt="">
        </a>
    </div>
</nav>