#navbar {
    /* overflow: hidden; */
    background-color: none;
    margin: 0;
    padding: 0;
    z-index: 99;
    max-height: 100%;
    box-shadow: 0px 0px 15px var(--primary);
}

.Logo {
    background-image: url(../img/logo_huella_w.svg);
}

.bg-dark {
    background-color: var(--primary) !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: white;
    text-decoration: none;
    background-color: var(--primary-dark);
}

.dropdown-item.active, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: var(--primary-dark);
}

/* Navbar links */

.bg-brown {
    background-color: var(--primary-light);
}

.bg-brown-dark {
    background-color: #74462b;
}

.no-marging {
    margin: 0 !important;
    padding: 0 !important;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.img-container-nav {
    position: relative;
    max-width: 30px;
    max-height: 30px;
    overflow:hidden;
    border-radius: 50%;
}

.img-container-nav img{
    width:100%;
    height:auto;
    vertical-align: auto;
}

nav .navbar-nav li a{
    color: white !important;
}

nav .navbar-nav li a:hover{
    color: #74462b !important;
}

nav .navbar-nav li a:active{
    color: #74462b !important;
}

.dropdown-toggle[aria-expanded="true"] {
    color:#74462b  !important;
}

.dropdown-menu {
    background-color: #C07E4E  !important;
}

ul.dropdown-menu:hover{
    background-color: none  !important;
}